
.box-outline {
    border:1px solid black;
    border-radius:5px;
    top:20%;
    width:80%;
    margin: 5% auto;
    padding:10px 0px 10px 0px;
      }
.txtbox-property-heading {
  padding-top: 15px; 
  font-size: 20px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  height:60px;
  width:225px;
  font-weight: bold;
}
.yellow-search-btn {
  font-size:18px;
  color:white; 
  border-radius:10px;
  background-color:#f6b519;
  padding:2%;
  height:50px; 
  width:150px
}
.btn-property {
  font-size: 20px;
  border-radius: 5px;
  height:60px;
  width:225px;
  font-weight: bold;
  
}
.select-txt {
  padding:20px;
  font-size: 20px;
  font-weight: bold;
}
.Input-txt{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #000;
  font-size:20px;
  padding: 2%;
}
.b {
  display:none;
}

/* login page styles */

.form-group{
    position: relative;
}
.palceholder{
  position: absolute;
  top: 7px;
  left: 8px;
  color: #B1B1B1;
  display: none;
}
label{
  font-weight: normal;
  color: #B1B1B1;
} 
.star{
  color: red
}
.pointer{
  cursor: pointer;
}