/* common css*/

.blue-header {
    
    background-color: #00517e;
    padding: 2% !important;
    margin: auto;
    text-align: center;
}
/* Laptop mode */

@media screen and (max-width: 1023px) and (min-width:769px) {
   
    /* White menubar */
    .submenu-txt {
    /* background-color: white; */
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 15px;
    /* width: 150px; */
    /* padding: 12% 15px; */
   
    }
    .upload-sec {
        padding:30%;
    }
    .popup {
        width:50%;
      }
}

/* Large screen  */
@media screen and (min-width: 1024px) {

.submenu-txt {
    /* background-color: white; */
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 15px;
    /* width: 200px; */
    /* padding: 12% 15px;    */
    }
    .upload-sec {
        padding:30%;
    }
    .select-pg {
        padding:8%;
        border:white 2px solid;
        border-radius: 5px;
    }
    .upload-sec1 {
        padding:10%;
    }
    .mb-15px{
        margin-top: 30px !important;
    }
    .popup {
        width:50%;
      }
      .popupbtn {
          height:50px;
      }
}

@media screen and (min-width: 769px) {
    .center-desktop {
        text-align: center;
    }
    .cntr-desk-list{
        text-align: center;
    }  
    .email-link{
        font-size:12px !important;
    }
    
}
