* {margin: 0; padding: 0; font-family:calibri !important}    
/* BAckground Colors */
.original {
    background-color: #f6b519;
}
.back-color-yellow {
    background-color: #f6b519;
}
.back-color-blue {
    background-color: #00517e;
}
.back-color-white {
    background-color: white;
}
/* Width */
.w-40per {
width:40%;
}
.w-70per {
    width:70%;
    }
/* Font Colors */
.bold-font {
    font-weight: bold;
}
.white-font {
    color:white;
}
.blue-font{
    color: #00517e;
}
.red-font {
    color:red;
}
html, body {
    width: 100%; 
    height: 100%;
}
.row{
    margin: 0 !important;
    padding: 0 !important;
}
.yellow_header {
    height:70px;
    background-color: #f6b519;
    width:100%;
}
/* shaking mobile */
.shake {
    animation: shake-animation 0.72s ease infinite;
    transform-origin: 50% 50%;
  }
  .element {
    margin: 0 auto;
    /* width: 150px; */
    /* height: 150px; */
    background: red;
  }
  @keyframes shake-animation {
     0% { transform:translate(0,0) }
    1.78571% { transform:translate(5px,0) }
    3.57143% { transform:translate(0,0) }
    5.35714% { transform:translate(5px,0) }
    7.14286% { transform:translate(0,0) }
    8.92857% { transform:translate(5px,0) }
    10.71429% { transform:translate(0,0) }
    100% { transform:translate(0,0) }
  }
  /* End of shaking Mobile  */
.menu {
    height:100px;
    background-color: white;
    width:100%;
}
.main_img {
    width: 100%;
    /* height: 600px; */
}
.yellow_bird {
    height: 65px;
    width:300px;
}
.blue_bird {
    width: 400px;
}
.heading1 {
    font-size: 35px;
    color:#00517e;
    font-weight: 600;
}
.feature_txt {
    font-size: 17px;
    text-align: center;
    color:#00517e;
    font-weight: 600;
}
.heading2 {
    font-size: 35px;
    color:00517e;
    font-weight: 600;
}
.frame_squre {
    border: 2px solid black;
    padding:10px;
}
.features {
   text-align: center;
}
.center {
text-align: center;
}

.width-eighty {
    width:80%;
}
/* Margins */

.mb-tb-10 {
    margin-top:  10px;
    margin-bottom: 10px;
}
.mb-tb-5per {
    margin-top:  5%;
    margin-bottom: 5%;
}
.mb-tb-3per {
    margin-top: 3%;
    margin-bottom: 3%;
  }
.mb-15 {
    margin:15px;
}
.mb-7 {
    margin: 7px;
}
.m-auto {
    margin: auto;
}
.mb-0 {
    margin:0px
}
.mb-l-20px {
    margin-left: 5%;
    }
/* Padding */
.pd-0 {
    padding:0px;
}
.pd-2 {
    padding: 2%;
}
.pd-5per {
    padding:5%;
}
.pd-l-20px {
    padding-left: 40px;
}
.pd-l-7per {
    padding-left: 7%;
}
.pd-lr-0 {
    padding-left:0px !important;
    padding-right: 0px !important;
}
/* Buttons */
.btn-enquiry {
background-color: #f6b519;
padding: 12px 40px;

}
.btn-viewMore {
    background-color: #00517e;
    padding: 12px 40px;
    border-radius: 5%;
    color: white;
    
    }
/* Text */
.txt-view-more {
    font-size: 16px; 
    font-weight: bolder;
    margin: 3%;
}
.txt-white {
    color: white;
}
/* Border */
.black-border {
    border:1px solid black;
}
.white {
    border: 2px solid white;
    }

.org-white-block {
   height: 100%;
   background-color: white;
}

.hr-white-line {
    border: 1px solid white;
}
.img-width-100 {
 width:100%;
}
.img-view-txt {
background-color:white; 
padding:3% 2%;
box-shadow:0px 4px 4px gray
}
@keyframes shake-mob {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

img.shake-mob {
  /* display: inline-block; */
  animation: wiggle 0.5s infinite;
}

img.shake-mob:hover {
  animation: none;
}
              
/* Desktop view */
@media only screen and (min-width: 769px) and (max-width:2560px) {
    .heading-yellow-img {
        width:100px;
    }
    .feature_txt {
        font-size: 13px;
        color:#00517e;
        font-weight: 500;
    }
    .testimonial-image cell-left img {
        margin-right: 40px;
    }
    .cell-right {
        /* text-align: center; */
        margin-right: 80px;
        padding-top: 65px;
        padding-bottom: 20px;
    }
    .owl-carousel .owl-item img {
        display: block;
        width: 17%;
        float: left;
        border: 5px solid #fff;
        border-radius: 20px;
        margin-left: 180px;
        margin-top: 15px;
    }
    .img-over-img1 {
        position:absolute;
        top: 20px;
        right:25%;
      }  
      .img-over-img2 {
        position:absolute;
        top: 20px;
        right:2%;
    
      }  
}

/* Mobile view css */
@media only screen and (max-width:767px) {
    .cell-right {
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .owl-carousel .owl-item img {
        display: block;
        width: 17%;
        float: left;
        border: 5px solid #fff;
        border-radius: 20px;
        margin-left: 54px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1023px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .submenu-txt {
        background-color: white;
        display: inline-block;
        font-size: 10px !important;
        font-weight: bold;
        color: black;
        text-align: center;
        text-decoration: none;
        /* padding:15px; */
        margin: 15px;
       width: 150px !important;
       padding: 12% 15px;
       
    }
  }
/* testimonials css */
.testimonial {
    background-color: yellow;
}

.testimonial-item.equal-height.style-6 {
    background-color: yellow;
    border-radius: 10px;
    margin: 10px;
}

.testimonial-name {
    font-weight: 600;
}
.testimonial-content.quote {
    padding: 17px 55px;
}
.et_right_sidebar #main-content .container:before{
    display: none;
}
#main-content .container {
    padding-top: 10px;
}
i.fa.fa-quote-left {
    padding: 0px 10px;
    color: #999;
}



@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}